* {
    margin: 0;
    padding: 0;
}

:root {
    ---main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --border: .1rem solid rgba(255, 255, 255, .3);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

body {
    background-color: var(--bg);
    ;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.cont-header {
    display: flex;
    align-items: center;
    background-color: var(--black);
    height: 10rem;
    border-bottom: var(--border);
}

.navBarra {
    font-size: 2rem;
    margin: auto;
}

.navBarra>a {
    margin-left: 2rem;
}

.navBarra a:hover {
    color: var(---main-color);
    text-decoration: overline;
    transition: 1s;
    padding-top: .5rem;
}

.intro {
    position: relative;
}

.intro>img {
    width: 100%;
}

.intro-cont {
    position: absolute;
    top: 20px;
}

.intro-cont h1 {
    font-size: 5vw;
    width: 55vw;
    margin: 20rem 0 0 10rem;
    margin-bottom: 3rem;
}

.intro-cont p {
    width: 55vw;
    margin: 0 0 0 10rem;
    font-size: 1.7vw;
    margin-bottom: 3rem;
}

.intro-cont a {
    margin: 20rem 0 0 10rem;
    width: 55vw;
    font-size: 2rem;
    background: var(---main-color);
    padding: 1rem;
}

section a:hover {
    font-stretch: expanded;
    transition: .1s;
    padding-right: 7rem;
}

.about {
    background: var(--bg);
}

.about-titulo {
    text-align: center;
    font-size: 3vh;
    margin-bottom: 4rem;
}

.about span {
    color: var(---main-color);
}

.about-img img {
    width: 100%;
    max-height: 45vh;
}

.about-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 10rem 0 10rem;
}

.about-text {
    background-color: var(--black);
}

.txt {
    margin-top: 5vh;
    margin-left: 2vw;
}

.txt h1 {
    font-size: 4vh;
    margin-bottom: 2rem;
}

.txt p {
    font-size: 2vh;
    margin-bottom: 2rem;
}